################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InvoiceManagementSystems.slnx/v18/.suo
/.vs/InvoiceManagementSystems.slnx/FileContentIndex/f7aa716e-6c24-4815-8587-023b6fe37479.vsidx
